body {
  margin: 5% auto; 
  background: #f2f2f2; 
  color: #444444; 
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif; 
  font-size: 1em; 
  line-height: 1.8; 
  text-shadow: 0 1px 0 #ffffff;
  max-width: 90%;
}

h1, h2, h3, h4 {
  line-height:1.2
}

li {
  cursor: pointer;
}

li, ol, ul {
  user-select: none;
  -moz-user-select: none;
}

td {
  border: 1px solid #444444;
  font-size: 0.6em;
  padding: 0.4em;
}

.prefListTitle {
  font-weight: bolder;
  text-align: center;
}

.prefListItem {
  border: 1px solid #444444;
  list-style-position:inside;
  padding: 0.2em;
  border-radius: 3px;
  background: white;
  margin: 2px;
}

.prefList {
  width: auto;
  float: left;
  margin: 15px;
}

.prefListList {
  margin: 0;
  padding-left: 0px;
}


