body {
  margin: 3% auto; 
  background: #f2f2f2; 
  color: #444444; 
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif; 
  font-size: 1em; 
  line-height: 1.8; 
  text-shadow: 0 1px 0 #ffffff;
  max-width: 90%;
}

h1, h2, h3, h4 {
  line-height:1.2
}

li {
  cursor: pointer;
}

ul {
  list-style: none !important;
}

li, ol, ul {
  user-select: none;
  -moz-user-select: none;
}

table {
  border-collapse: collapse;
  margin-top: 1em;
}

td {
  /*border: 1px solid #444444;*/
  font-size: 0.75em;
  padding: 0.4em 3em 0.4em 0.4em;
  border-right: 1px solid #eeeeee;
}

tr:nth-child(even) {
  background-color: #e6e6e6;
}

.prefListTitle {
  font-weight: bolder;
  text-align: center;
  display: inline-block;
}

.prefListItem {
  /*border: 1px solid #444444;*/
  list-style-position:inside;
  padding: 0.4em 0.4em 0.2em 0.4em;
  border-radius: 3px;
  background: white;
  margin: 2px;
  text-align: center;
  display: inline-block;
  text-shadow: 0 1px 0 #ffffff;
  box-shadow: 1px 1px 3px;
}

.prefList {
  margin: 15px;
  display: inline-block;
}

.prefListList {
  margin: 0;
  padding-left: 0px;
}

a {
  border-bottom: 1px solid #444444; 
  color: #444444; 
  text-decoration: none;
  transition: 0.2s;
  cursor: pointer;
}

a:hover {
  border-bottom: 1px solid #f2f2f2;
  transition: 0.2s;
}

/* Fields */
input, textarea {
  -webkit-transition: all 0.30s ease-in-out;
  -moz-transition: all 0.30s ease-in-out;
  -ms-transition: all 0.30s ease-in-out;
  -o-transition: all 0.30s ease-in-out;
  height: 1.5em;
  padding: 0.3em 0.1em 0.3em 0.1em;
  outline: none;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  width: 6em;
  background: #fff;
  border: 1px solid #ccc;
  color: #555;
}

input:focus, textarea:focus {
  box-shadow: 0 0 5px #09d1f9;
  border: 1px solid #aaa;
}

/**
 * Obvious Buttons 0.1
 * https://github.com/skidding/obvious-buttons
 *
 * (c) 2014+ Ovidiu Chereche»ô
 * http://skidding.mit-license.org
 */
 .btn {
  display: inline-block;
  margin: 0.2em;
  font-family: inherit;
  text-align: center;
  cursor: pointer;
  border: none;
  height: 40px;
  padding: 0 14px;
  border-radius: 5px;
  -webkit-box-shadow: inset 0 -3px 0 0 rgba(0, 0, 0, 0.15);
  -moz-box-shadow: inset 0 -3px 0 0 rgba(0, 0, 0, 0.15);
  box-shadow: inset 0 -3px 0 0 rgba(0, 0, 0, 0.15);
  font-size: 18px;
  line-height: 37px;
  -webkit-transition-property: background-color;
  -webkit-transition-duration: 0.2s;
  -webkit-transition-timing-function: linear;
  -moz-transition-property: background-color;
  -moz-transition-duration: 0.2s;
  -moz-transition-timing-function: linear;
  -ms-transition-property: background-color;
  -ms-transition-duration: 0.2s;
  -ms-transition-timing-function: linear;
  -o-transition-property: background-color;
  -o-transition-duration: 0.2s;
  -o-transition-timing-function: linear;
  transition-property: background-color;
  transition-duration: 0.2s;
  transition-timing-function: linear;
  background: #fafafa;
  color: #222222;
}
.btn i {
  line-height: 37px;
}
.btn:active,
.btn:active i {
  line-height: 40px;
}
.btn.btn-primary,
.btn.btn-info,
.btn.btn-success,
.btn.btn-warning,
.btn.btn-danger,
.btn.btn-inverse {
  -webkit-box-shadow: inset 0 -3px 0 0 rgba(0, 0, 0, 0.2);
  -moz-box-shadow: inset 0 -3px 0 0 rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 -3px 0 0 rgba(0, 0, 0, 0.2);
}
.btn:hover,
.btn:focus {
  background: #e6e6e6;
  color: #222222;
}
.btn.btn-primary {
  background: #0088cc;
  color: #fafafa;
}
.btn.btn-primary:hover,
.btn.btn-primary:focus {
  background: #006da3;
  color: #fafafa;
}
.btn.btn-info {
  background: #49afcd;
  color: #fafafa;
}
.btn.btn-info:hover,
.btn.btn-info:focus {
  background: #339bba;
  color: #fafafa;
}
.btn.btn-success {
  background: #5bb75b;
  color: #fafafa;
}
.btn.btn-success:hover,
.btn.btn-success:focus {
  background: #47a247;
  color: #fafafa;
}
.btn.btn-warning {
  background: #faa732;
  color: #fafafa;
}
.btn.btn-warning:hover,
.btn.btn-warning:focus {
  background: #f9960a;
  color: #fafafa;
}
.btn.btn-danger {
  background: #da4f49;
  color: #fafafa;
}
.btn.btn-danger:hover,
.btn.btn-danger:focus {
  background: #d0312a;
  color: #fafafa;
}
.btn.btn-inverse {
  background: #363636;
  color: #fafafa;
}
.btn.btn-inverse:hover,
.btn.btn-inverse:focus {
  background: #222222;
  color: #fafafa;
}
.btn span {
  pointer-events: none;
}
.btn:hover {
  text-decoration: none;
}
.btn:focus {
  text-decoration: none;
  outline: none;
}
.btn:active {
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  box-shadow: none !important;
}
.btn-small {
  height: 30px;
  padding: 0 10px;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 -2px 0 0 rgba(0, 0, 0, 0.15);
  -moz-box-shadow: inset 0 -2px 0 0 rgba(0, 0, 0, 0.15);
  box-shadow: inset 0 -2px 0 0 rgba(0, 0, 0, 0.15);
  font-size: 14px;
  line-height: 28px;
}
.btn-small i {
  line-height: 28px;
}
.btn-small:active,
.btn-small:active i {
  line-height: 30px;
}
.btn-small.btn-primary,
.btn-small.btn-info,
.btn-small.btn-success,
.btn-small.btn-warning,
.btn-small.btn-danger,
.btn-small.btn-inverse {
  -webkit-box-shadow: inset 0 -2px 0 0 rgba(0, 0, 0, 0.2);
  -moz-box-shadow: inset 0 -2px 0 0 rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 -2px 0 0 rgba(0, 0, 0, 0.2);
}
.btn-large {
  height: 50px;
  padding: 0 18px;
  border-radius: 6px;
  -webkit-box-shadow: inset 0 -4px 0 0 rgba(0, 0, 0, 0.15);
  -moz-box-shadow: inset 0 -4px 0 0 rgba(0, 0, 0, 0.15);
  box-shadow: inset 0 -4px 0 0 rgba(0, 0, 0, 0.15);
  font-size: 22px;
  line-height: 46px;
}
.btn-large i {
  line-height: 46px;
}
.btn-large:active,
.btn-large:active i {
  line-height: 50px;
}
.btn-large.btn-primary,
.btn-large.btn-info,
.btn-large.btn-success,
.btn-large.btn-warning,
.btn-large.btn-danger,
.btn-large.btn-inverse {
  -webkit-box-shadow: inset 0 -4px 0 0 rgba(0, 0, 0, 0.2);
  -moz-box-shadow: inset 0 -4px 0 0 rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 -4px 0 0 rgba(0, 0, 0, 0.2);
}
.btn-xlarge {
  height: 60px;
  padding: 0 22px;
  border-radius: 7px;
  -webkit-box-shadow: inset 0 -5px 0 0 rgba(0, 0, 0, 0.15);
  -moz-box-shadow: inset 0 -5px 0 0 rgba(0, 0, 0, 0.15);
  box-shadow: inset 0 -5px 0 0 rgba(0, 0, 0, 0.15);
  font-size: 26px;
  line-height: 55px;
}
.btn-xlarge i {
  line-height: 55px;
}
.btn-xlarge:active,
.btn-xlarge:active i {
  line-height: 60px;
}
.btn-xlarge.btn-primary,
.btn-xlarge.btn-info,
.btn-xlarge.btn-success,
.btn-xlarge.btn-warning,
.btn-xlarge.btn-danger,
.btn-xlarge.btn-inverse {
  -webkit-box-shadow: inset 0 -5px 0 0 rgba(0, 0, 0, 0.2);
  -moz-box-shadow: inset 0 -5px 0 0 rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 -5px 0 0 rgba(0, 0, 0, 0.2);
}
.btn-inline {
  display: inline-block;
  vertical-align: middle;
}